<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fy.mapper.CustomerMapper">
    <select id="selectCustomerById" parameterType="Integer" resultType="customer">
        select * from mybatis.t_customer where id = #{id}
    </select>
    <insert id="addCustomer" parameterType="customer">
        insert into mybatis.t_customer(username,jobs,phone) values(#{username},#{jobs},#{phone})
    </insert>
</mapper>